#mainbar
  .group
    =error_messages_for :history
    -form_tag workitem_path(:id => @workitem.id), :method => :put do 
      =render :partial => "conversations/workitem"
      %p.btns{:style=>"clear:left"}
        = submit_tag '提交', :disable_with => t('html.saving')
        = link_to '返回', :back
      =render :partial => "conversations/show"
#sbar
  .proj-desc
    %p="事件:#{@conversation.title} #{truncate_with_more(@conversation.content, 100, @conversation.id)}"
    .proj-desc
      %p 处理过程
    #shared-bin-block.sblock.bin-block
      =render :partial => "conversations/histories", :locals => {:conversation => @conversation}
    .proj-desc
      %p 往来记录
    #shared-bin-block.sblock.bin-block
      =render :partial => "conversations/events", :locals => {:conversation => @conversation}
