.group
  -form_tag workitem_path(:id => @workitem.id), :method => :put do 
    =render :partial => "events/show"
    =render :partial => "events/workitem"
    %p.btns{:style=>"clear:left"}
      = submit_tag '保存', :disable_with => t('html.saving')
      = link_to '返回', :back

