- form_tag session_path do                                                                                                                 
  %table.logoin-table{:cellspacing=>0,:cellpadding=>0}
    %tr
      %td{:colspan=>2} 
        -flash.each do |key, msg|
          =content_tag :p, msg, :class => "flash #{key}"
    %tr
      %td.login-td1=label_tag :login, '用户名'
      %td= text_field_tag 'login', params[:login], :is_focus => true, :class => "login-form login-form1"
    %tr
      %td=label_tag :password, '密　码'
      %td= password_field_tag 'password', nil, :class => "login-form login-form1"
    %tr
      %td &nbsp;
      %td
        %table{:cellspacing=>0,:cellpadding=>0}
          %tr
            %td= submit_tag "", :id => "save", :class=> "login-button login-button1", :style => "border: 0"
            %td{:style=>"padding:0"}
              %input{:type=>:reset, :class=>"login-button login-button2", :value=>"", :style=>"border:0"}

