- form_remote_tag :url => session_path do                                                                                                                 
  %dl
    %dt
      %label{:for => 'login'} 用户名
    %dd
      = text_field_tag 'login', params[:login], :is_focus => true
  %dl 
    %dt
      %label{:for => 'password'} 密码
    %dd
      = password_field_tag 'password'
  %p.btns  
    = submit_tag '登录', :class => "submit", :id => "save"

