config/database.yml
nbproject/**
log/
*.log
*.pid
config/initializers/email.rb
#share by capistrano
public/photos/**
vendor/plugins/selenium-on-rails/log/default.yml
tmp/**
#vim swap file
**.swp
**.*~
coverage/**
#full-text search engine
db/sphinx/**
config/development.sphinx.conf
