.nav 
  %span 你现在的位置：公告管理
  .search-panel
    -form_tag notices_path, :method=>:get, :class=>"j-form" do
      =label_tag "notice[title]", '标题'
      =text_field_tag "notice[title]", params[:notice][:title]
      =link_to_function "", "j('.j-form').submit()", :class => "icon-16px-box j-icon i-search", :title => "查询"
.split
.j-panel
  .j-panel-head
    .j-panel-text 公告列表
  .j-panel-body
    .j-grid.grid-full
      %table
        %thead
          %tr
            %th{:width=>"200"} 标题
            %th{:width=>"200"} 内容
            %th{:width=>"80"} 是否发布
            %th{:width=>"120"} 最后修改人
            %th{:width=>"160"} 最后修改时间
            %th{:width=>"80"} 操作
        %tbody
          - @list.each do |notice|
            %tr
              %td=notice.title
              %td=truncate(notice.content, :length => 40)
              %td=notice.deployed_enum_sf
              %td=notice.modifier.realname
              %td=notice.updated_at.to_s(:full)
              %td
                =link_to '', notice, :title => t('html.link.view'), :class => "icon-16px-box j-icon i-view" 
                -if notice.deployed == 0
                  =link_to '', edit_notice_path(notice), :title => t('html.link.edit'), :class => "icon-16px-box j-icon i-edit" 
                  =link_to '', notice, :confirm => "你确定要删除吗?", :method => :delete, :title => t('html.link.delete'), :class => "icon-16px-box j-icon i-delete" 
  .j-panel-foot
    .j-toolbar
      =will_paginate @list
      %ul
        %li{:icon=>"j-icon i-create"}
          =link_to '增加', new_notice_path
