%ul#conversation_event.list
  -conversation.events.each do |event|
    %li
      %a
        %span{:title=>event.created_at.to_s(:with_year)}=event.created_at.to_s(:only_date)
        -if event.is_in?
          %span=event.person.name
        -else
          %span="(#{event.creator.department.name})#{event.creator.realname}"
        %span=event.category_enum
        -if event.is_out?
          %span=event.person.name
        %span=truncate_with_more(event.content, 20, event.id)
        =render :partial => "events/wavobject", :locals => {:record => event.record}
