%ul#shared-ticket-bins.stacked.wbadges.sortable
  -conversation.events.each do |event|
    %li.bin.shared
      %a
        %span.badge{:title=>event.created_at.to_s(:with_year)}=event.created_at.to_s(:only_date)
        -if event.is_in?
          %span=event.person.name
        -else
          %span="(#{event.user.department.name})#{event.user.realname}"
        %span=event.category_enum
        %span=truncate_with_more(event.content, 20, event.id)
