#conversation_index
  -form_tag conversations_path, :method=>:get do
    .group
      %fieldset
        %legend 1.先查询以往记录
        #quick-search-bar
          =label_tag :phone, '联系电话'
          =text_field_tag :phone, params[:phone], :is_focus => true
          =submit_tag '查询'
    .group
      %fieldset
        %legend 2.检查是否存在相关记录
        -@list.each do |conversation|
          .conversation_info
            %p=truncate_with_more("事件#{@list.index(conversation)+1}:#{conversation.content}", 120, conversation.id)
            =link_to "当前反映事件与此相同，点击这里关联此事件", new_event_path('event[conversation_id]' => conversation.id, :phone => params[:phone]), :class => 'relate_btn'
            =render :partial => "conversations/events", :locals => {:conversation => conversation}
    .group
      %fieldset
        %legend 3.如果没有相关记录
        =link_to '增加新事件', new_conversation_path(:phone => params[:phone], :category => params[:category])
