#help{:title => '帮助信息'}
  %b 受理事件时，操作步骤如下：
  %ol
    %li 先输入联系电话，查询以往事件记录
    %li 
      如果查询结果中存在与当前事件相同的记录(根据内容摘要判断是否相同)，点击"关联操作"列的
      %span.icon-16px-box.j-icon.i-create
      按钮
    %li 
      如果没有相同事件，点击右下角的"
      %span.icon-16px-box.j-icon.i-create
      增加新事件"按钮
  %b 其他帮助信息：
  %ol
    %li 
      点击事件主题左边的
      %span.j-form-table-group-icon.j-form-table-group-close
      按钮，可以查看事件的往来记录(即来电来访回电回访等记录)
    %li 
      如果往来记录存在录音文件，则右边会显示
      %span.player
      ，点击可以直接播放录音

.nav 
  %span 你现在的位置：受理事件
  .search-panel
    -form_tag conversations_path, :method=>:get, :class=>"j-form" do
      =label_tag :phone, '联系电话'
      =text_field_tag :phone, params[:phone], :is_focus => true, :class => :nofixed
      =hidden_field_tag :record_id, params[:record_id]
      =submit_tag "", :id => :search, :class=> "icon-16px-box j-icon i-search nofixed nav-btn", :title => "查询"
      %span.icon-16px-box.j-icon.i-help
.split
.j-panel
  .j-panel-head
    .j-panel-text 以往事件列表
  .j-panel-body.panel-full
    =flash_msg
    .j-grid.grid-full
      %table
        %thead
          %tr
            %th{:width=>"150px"} 事件主题
            %th{:width=>"150px"} 事件分类
            %th{:width=>"300px"} 内容摘要
            %th{:width=>"100px"} 关联操作
        -@list.each do |conversation|
          %tbody
            %tr.j-grid-data-group.opend
              %td=conversation.title
              %td=conversation.kind.name
              %td{:title=>conversation.content}=truncate(conversation.content,:length => 30)
              %td=link_to "", new_event_path('event[conversation_id]' => conversation.id, :phone => params[:phone], :menu => :conversations, :record_id => params[:record_id]), :class => 'icon-16px-box j-icon i-create', :title => "关联"
            %tr
              %td{:colspan=>4}
                =render :partial => "conversations/events", :locals => {:conversation => conversation}
  .j-panel-foot
    .j-toolbar
      %ul
        %li{:icon=>"j-icon i-create"}
          =link_to '增加新事件', new_conversation_path(:phone => params[:phone], :category => params[:category], :record_id => params[:record_id]), :id => 'conversation_add_btn'
