.nav 
  %span 你现在的位置：事件记录
.split
.j-panel
  .j-panel-head
    .j-panel-text 事件列表
  .j-panel-body
    .j-grid.grid-full
      %table
        %thead
          %tr
            %th{:width=>"150px"} 事件编号
            %th{:width=>"150px"} 事件主题
            %th{:width=>"100px"} 登记时间
            %th{:width=>"100px"} 登记人
            %th{:width=>"100px"} 操作
        %tbody
          -@list.each do |conversation|
            %tr
              %td=conversation.tag
              %td=conversation.title
              %td=conversation.created_at.to_s(:without_year)
              %td=conversation.creator.realname
              %td=link_to '', conversation_path(conversation), :title => '查看', :class => "icon-16px-box j-icon i-view"
  .j-panel-foot
    .j-toolbar
      =will_paginate @list
