!little_blue = #5a9ecf
!little_white = #f1f1f1
!black = #000
!white = #fff

#main
  :width 98%
  #main-content
    :padding-right 0
    #mainbar
      :float left
      :width 70%
    #sbar
      :margin-right 1px
      :background #ddd
      :padding 2px
      p
        :font-size 14px
        :line-height 20px
      li
        .badge
          :font-size 12px
        span
          :font-size 14px
          :line-height 20px
    .group table
      :width 100%
    td
      :width 280px
    th
      :width 120px

#footer
  :width 98%


fieldset
  :margin-bottom 5px

.list
  :width 100%
  :background-color = !little_blue
  :border 0
  td
    :background-color = !white


#quick-search-bar
  :background-color = !little_blue
  label
    :color = !black
    :margin-left 10px
  input
    :font-size 14px
  input[type='submit']
    :width 100px
    :font-weight bold

.formin,.formpass
  .title
    :text-align center
    :font-size 25px
    :font-weight bold
  .sub_title,.required
    :color red
  tr
    :line-height 40px
  th
    :background-color = !little_white
    :padding-right 5px
    :width 120px
    :text-align right
    :font-size 14px
  td
    :width 280px
  input
    :width 200px
    :font-size 16px
    :border-width 1px
    :border-color #CCCCCC
  input.long
    :width 587px
  .calendar
    :width 182px
    :font-size 20px
    :padding 3px 0
    :float left
  select
    :width 200px
  input[type=radio]
    :margin-left 10px
  textarea
    :font-size 16px
    :border-width 1px
    :border-color #CCCCCC
    :overflow auto

  .show_by_other
    :display none

  table
    :width 100%
    

  .fieldWithErrors
    :color red

.formpass input[type=submit]
  :font-size 16px
  :width 60px

.formpass input[type=button]
  :font-size 16px
  :width 60px

.btns
  input
    :font-size 20px
    :width 200px
    :margin-left 20px
  a
    :width 200px
    :font-size 20px
    :padding 4px 15px

