/*
  :border 1px solid red
*/

.formin
  tr
    :line-height 40px
  th
    :width 100px
    :text-align right
  td
    :width 200px
  input
    :width 200px
    :font-size 180%
  select
    :width 200px

  .btns
    input
      :font-size 20px
      :width 200px
      :margin-left 20px

#call_timing
  :width 182px
  :font-size 20px
  :padding 3px 0
  :float left

.calendar_date_select_popup_icon
  :float right
