#content-container {
  overflow: hidden;
  width: 99.5%;
  height: 99.6%; }

.hide, .show_by_other {
  display: none; }

#flash-notice {
  font-weight: bold;
  background: #bec;
  color: #031;
  padding: 6px 4px 4px 8px;
  margin-bottom: 3px;
  border-bottom: 1px solid #8DA; }

#errorExplanation, #pop-errorExplanation {
  border: 1px solid #FFCC66;
  background-color: #FFFFCC;
  margin: 0;
  padding: 0;
  margin-bottom: 5px; }
  #errorExplanation ul,   #pop-errorExplanation ul {
    list-style-type: disc; }
    #errorExplanation ul li,     #pop-errorExplanation ul li {
      padding: 2px 5px 2px 5px; }

ul.list li {
  margin: 3px 0px 3px 5px;
  padding-bottom: 5px; }

.warning, .required {
  color: red; }

#player {
  display: none; }

.player {
  width: 32px;
  height: 21px;
  background-image: url(/images/player.gif); }

.play_start {
  background-position: 0% 0%; }

.play_stop {
  background-position: 32px 0px; }

div.dialog {
  width: 25em;
  padding: 0 4em;
  margin: 4em auto 0 auto;
  border: 1px solid #ccc;
  border-right-color: #999;
  border-bottom-color: #999; }
  div.dialog h1 {
    font-size: 100%;
    color: #f00;
    line-height: 1.5em; }

#singheadBody {
  z-index: 99; }
  #singheadBody div {
    padding: 0;
    margin: 0; }
  #singheadBody #singheadPanel {
    height: 80px; }
    #singheadBody #singheadPanel td {
      height: expression(18);
      padding: 0 !important;
      margin: 0 !important;
      color: red !important; }
    #singheadBody #singheadPanel #singheadPanelOperat {
      height: 60px !important; }
      #singheadBody #singheadPanel #singheadPanelOperat .tabs-container {
        height: 40px !important; }
      #singheadBody #singheadPanel #singheadPanelOperat .tabs-nav {
        height: 20px !important;
        line-height: 100%; }
        #singheadBody #singheadPanel #singheadPanelOperat .tabs-nav a {
          line-height: 1; }
          #singheadBody #singheadPanel #singheadPanelOperat .tabs-nav a span {
            height: 10px !important; }
  #singheadBody .singheadBtnSlide {
    height: 12px;
    font-size: 12px;
    padding: 2px 2px 1px 0;
    background-position: right -57px; }
  #singheadBody .active {
    background-position: right 2px; }
