/* 
 * :border 1px solid red */

.formin tr {
  line-height: 40px; }
.formin th {
  width: 100px;
  text-align: right; }
.formin td {
  width: 200px; }
.formin input {
  width: 200px;
  font-size: 180%; }
.formin select {
  width: 200px; }
.formin .btns input {
  width: 200px; }

#call_timing {
  width: 180px;
  float: left; }

.calendar_date_select_popup_icon {
  float: right; }
