body {
  font-size: 14px; }

#main {
  width: 98%; }
  #main #main-content {
    padding-right: 0; }
    #main #main-content #mainbar {
      float: left;
      width: 70%; }
    #main #main-content #sbar {
      margin-right: 1px;
      background: #ddd;
      padding: 2px; }
      #main #main-content #sbar p {
        font-size: 14px;
        line-height: 20px; }
      #main #main-content #sbar li .badge {
        font-size: 12px; }
      #main #main-content #sbar li span {
        font-size: 14px;
        line-height: 20px; }
    #main #main-content .group table {
      width: 100%; }
    #main #main-content td {
      width: 280px; }
    #main #main-content th {
      width: 120px; }

#footer {
  width: 98%; }

fieldset {
  margin-bottom: 5px; }

.list {
  width: 100%;
  background-color: #5a9ecf;
  border: 0; }
  .list td {
    background-color: #ffffff; }

#quick-search-bar {
  background-color: #5a9ecf; }
  #quick-search-bar label {
    color: #000000;
    margin-left: 10px; }
  #quick-search-bar input {
    font-size: 14px; }
  #quick-search-bar input[type='submit'] {
    width: 100px;
    font-weight: bold; }

.formin .title, .formpass .title {
  text-align: center;
  font-size: 25px;
  font-weight: bold; }
.formin .sub_title, .formin .required, .formpass .sub_title, .formpass .required {
  color: red; }
.formin tr, .formpass tr {
  line-height: 40px; }
.formin th, .formpass th {
  background-color: #f1f1f1;
  padding-right: 5px;
  width: 120px;
  text-align: right;
  font-size: 14px; }
.formin td, .formpass td {
  width: 280px; }
.formin input, .formpass input {
  width: 200px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC; }
.formin input.long, .formpass input.long {
  width: 587px; }
.formin .calendar, .formpass .calendar {
  width: 182px;
  font-size: 20px;
  padding: 3px 0;
  float: left; }
.formin select, .formpass select {
  width: 200px; }
.formin input[type=radio], .formpass input[type=radio] {
  margin-left: 10px; }
.formin textarea, .formpass textarea {
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  overflow: auto; }
.formin .show_by_other, .formpass .show_by_other {
  display: none; }
.formin table, .formpass table {
  width: 100%; }
.formin .fieldWithErrors, .formpass .fieldWithErrors {
  color: red; }

.formpass input[type=submit] {
  font-size: 16px;
  width: 60px; }

.formpass input[type=button] {
  font-size: 16px;
  width: 60px; }

.btns input {
  font-size: 20px;
  width: 200px;
  margin-left: 20px; }
.btns a {
  width: 200px;
  font-size: 20px;
  padding: 4px 15px; }

#project-nav ul.submenu li a {
  font-size: 12px; }
