.group
  %fieldset
    %legend 查询条件
    #quick-search-bar
      -form_tag calls_path, :method=>:get do
        %label 来电号码
        =text_field_tag :callnumber, params[:callnumber]
        %label 来电人
        =text_field_tag :name, params[:name]
        =submit_tag '查询'
.group
  %fieldset
    %legend 查询结果
    %table.list
      %tr
        %th 来电编号
        %th 来电主题
        %th 来电人
        %th 来电电话
        %th 来电时间
        %th 登记人
        %th 操作
      - @list.each do |call|
        %tr
          %td=call.calltag
          %td=call.title
          %td=call.name
          %td=call.callnumber
          %td=call.timing.to_s(:without_year)
          %td=call.creator
          %td
            =link_to '查看', call
            =link_to '编辑', edit_call_path(call)
            =link_to '删除', call, :confirm => "你确定要删除吗?", :method => :delete
    =will_paginate @list

