.group
  %fieldset
    %legend 查询来电
    %table.list
      %tr
        %th 来电编号
        %th 来电主题
        %th 来电人
        %th 来电电话
        %th 来电时间
        %th 登记人
        %th 操作
      - @list.each do |call|
        %tr
          %td=call.calltag
          %td=call.title
          %td=call.name
          %td=call.callnumber
          %td=call.timing.to_s(:without_year)
          %td=call.creator
          %td=link_to '查看', call
          %td=link_to '编辑', edit_call_path(call)
          %td=link_to '删除', call, :confirm => "你确定要删除吗", :method => :delete

