.group
  %fieldset
    %legend 查询条件
    #quick-search-bar
      -form_tag users_path, :method=>:get do
        =label_tag "user[login]", '用户名'
        =text_field_tag "user[login]", params[:user][:login]
        =label_tag "user[realname]", '姓名'
        =text_field_tag "user[realname]", params[:user][:realname]
        =submit_tag '查询'
.group
  %fieldset
    %legend 用户列表
    %table.list
      %tr
        %th{:width=>'120'} 用户名
        %th{:width=>'120'} 姓名
        %th{:width=>'140'} 部门
        %th{:width=>'120'} 负责人
        %th 办公电话
        %th{:width=>'80'} 是否禁用
        %th{:width=>'120'} 操作
      - @page.each do |user|
        %tr
          %td=user.login
          %td=user.realname
          %td=user.department ? user.department.name : ""
          %td=user.ismanager_enum_sf
          %td=user.telephone
          %td=user.disabled_enum_sf
          %td
            =link_to t('html.link.edit'), edit_user_path(user)
            -if !(user.role == 1)
              -if user.disabled == 0
                =link_to t('html.link.disable'),{:action => 'disable', :id => user}, {:onclick => "return confirm('#{t('confirm.user.disable')}')"}
              -else
                =link_to t('html.link.enable'),{:action => 'enable', :id => user}, {:onclick => "return confirm('#{t('confirm.user.enable')}')"}
    #paginate{:style => 'text-align:right;'}
      =will_paginate @page

