-form_for :user, :url => {:action => 'updatepass'}, :html => {:class => 'j-form'} do |f|
  .nav 
    %span 你现在的位置：修改密码
  .split
  .j-panel
    .j-panel-head
      .j-panel-text 新密码信息
    .j-panel-body.panel-full
      =error_messages_for :user
      %table.j-form-table
        %thead
          %tr
            %th{:width=>"80px"}
            %th{:width=>"300px"}
            %th
        %tbody
          %tr
            %td= f.label_require :password, '新密码'
            %td= f.password_field :password
            %td &nbsp;
    .j-panel-foot
      .j-toolbar
        %ul
          %li{:icon=>"j-icon i-create"}
            =link_to_function "保存", "j('.j-form').submit()"
