%fieldset
  %legend{:style=>'font-size:14px'} 修改密码
  =error_messages_for :user
  -remote_form_for :user, :url => {:action => 'updatepass'}, :html => {:class => 'formpass', :id=>'formin'} do |f|
    %div#pop-errorExplanation{:style=>'display:none'}
    %table
      %tr
        %th
          %span.required *
          = f.label 'password', '新密码'
        %td
          = f.password_field 'password'
    %p.btns
      = submit_tag '提 交', {:id=>'save'}
      = submit_tag '关 闭', {:type=>'button',:onclick=>'javascript:j.facebox.close();'}

