%fieldset
  %legend{:style=>'font-size:14px'} 修改坐席号
  =error_messages_for :user
  -remote_form_for :user, :url => {:action => 'updatesite'}, :html => {:class => 'formpass', :id=>'formin'} do |f|
    %div#pop-errorExplanation{:style=>'display:none'}
    %table
      %tr
        %th
          %span.required *
          = f.label :site, '坐席号'
        %td
          = f.text_field :site
    %p.btns
      = submit_tag '提 交', {:id=>'save'}
      = submit_tag '关 闭', {:type=>'button',:onclick=>'javascript:j.facebox.close();'}

