%li{:icon=>"j-icon i-organ", :itemid => child.id}
  =link_to_remote child.name, :update => :tree_content, :url => edit_department_path(child), :method => :get, :html => {:id => "label_#{child.id}"}
  .j-tree
    %ul{:id => "sub_#{child.id}"}
      =render :partial => "child", :collection => child.children
