-remote_form_for @department, :html => {:class => 'j-form'} do |f|
  =f.hidden_field :parent_id
  .j-panel-head
    .j-panel-text 新增机构信息
  .j-panel-body.right-panel-full
    =render :partial => 'form', :locals => { :f => f}
  .j-panel-foot
    .j-toolbar
      %ul
        %li{:icon=>"j-icon i-save"}
          =submit_tag "保存", :class=> "hide"
          =link_to_function "保存", "j('.j-form').trigger('onsubmit');"

-if @department.parent
  :javascript
    j("#tree_content").find("form,div,span,table").each(function(){
        renderManager.render(this);
    });
