-remote_form_for @department, :html => {:class => 'j-form'} do |f|
  .j-panel-head
    .j-panel-text 机构信息
  .j-panel-body.right-panel-full
    =render :partial => 'form', :locals => { :f => f}
  .j-panel-foot
    .j-toolbar
      %ul
        %li{:icon=>"j-icon i-save"}
          =link_to_function "保存", "j('.j-form').trigger('onsubmit')"
        %li
        %li{:icon=>"j-icon i-ogran-create"}
          =link_to_remote '新增子机构', :update => :tree_content, :url => new_department_department_path(@department), :method => :get

:javascript
  j("#tree_content").find("form,div,span,table").each(function(){
      renderManager.render(this);
  });
