.group
  %fieldset
    %legend 查询条件
    #quick-search-bar
      -form_tag departments_path, :method=>:get do
        =label_tag "department[code]", '机构代码'
        =text_field_tag "department[code]", params[:department][:code]
        =label_tag "department[name]", '机构名称'
        =text_field_tag "department[name]", params[:department][:name]
        =submit_tag '查询'
.group
  %fieldset
    %legend 查询机构
    %table.list
      %tr
        %th{:width=>"80"} 机构代码
        %th{:width=>"100"} 机构名称
        %th{:width=>"60"} 负责人
        %th{:width=>"100"}联系电话
        %th 地址
        %th{:width=>"150"} 最后修改时间
        %th{:width=>"120"} 操作
      - @list.each do |department|
        %tr
          %td=department.code
          %td=department.name
          %td=department.manager
          %td=department.telephone
          %td=department.address
          %td=department.updated_at.to_s(:full)
          %td
            =link_to '查看', department
            =link_to '编辑', edit_department_path(department)
            =link_to '删除', department, :confirm => "你确定要删除吗?", :method => :delete
      %tr
        %td{:colspan=>7}=will_paginate @list

