=javascript_include_tag "tree"
#mainbar
  .group
    %fieldset
      %legend 机构信息
      %ul#tree{:url => department_departments_path(Department.new), :itemUrl => departments_path, :style => 'float:left'}
        =render :partial => "child", :collection => Department.top
      #tree_content{:style => 'float:right'}
        =render :partial => "new"
#sbar
  .proj-desc.tip
    %span 当前页面输入项提示信息
    %ul
      %li 值班领导: 值班人员录入事件时,值班室信息的值班领导输入项的默认值
