=javascript_include_tag "tree"
.nav 
  %span 你现在的位置：机构管理
.split
.j-panel.left-panel{:style => "width:30%"}
  .j-panel-head
    .j-panel-text 机构树形图
  .j-panel-body.right-panel-full
    .j-tree
      %ul#tree{:url => department_departments_path(Department.new), :itemUrl => departments_path, :style => 'float:left'}
        =render :partial => "child", :collection => Department.top

.j-panel.right-panel#tree_content{:style => "width:68%;"}
  =render :partial => "new"
