!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室
    =stylesheet_link_tag "/resources/css/site", "/resources/jui/css/default"

  %body
    .main-foot
      .main-foot-right
      .main-foot-left
    .foot
      .copyright==版权所有：深圳市罗湖区政府  技术支持：#{link_to_function "高正软件"}
      .foot-text
        ==欢迎您:#{current_user.login}&nbsp;|&nbsp;
        ==坐席号:#{current_user.site.blank? ? '未设置' : current_user.site}
        =link_to "设置", user_site_path, :target => :mainFrame
        %span &nbsp;|&nbsp;
        =link_to "修改密码", pass_path, :target => :mainFrame
        %span &nbsp;|&nbsp;
        -unless current_user.is_admin?
          =link_to "公告", notice_list_path, :target => :mainFrame
        =link_to "退出登录", logout_path, :target => '_parent'
