!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室

  %frameset{:rows=>"130,*,49",:frameborder=>"no",:border=>"0",:framespacing=>"0"}
    %frame{:name=>"headFrame",:src=>"/home/head",:scrolling=>"no",:noresize=>"noresize"}
    %frameset{:cols=>"30,*,30",:frameborder=>"no",:border=>"0",:framespacing=>"0"}
      %frame{:name=>"leftFrame",:src=>"/home/left",:scrolling=>"no",:noresize=>"noresize"}
      %frame{:name=>"mainFrame",:src=>"/workitems",:scrolling=>"no",:noresize=>"noresize"}
      %frame{:name=>"rightFrame",:src=>"/home/right",:scrolling=>"no",:noresize=>"noresize"}
    %frame{:name=>"footFrame",:src=>"/home/foot",:scrolling=>"no",:noresize=>"noresize"}

  %noframes
    %body
