!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室
    =stylesheet_link_tag "/resources/css/site", "/resources/jui/css/default"

  %body
    .main-left
      .main-left-top
