#mainbar
  -form_tag events_path, :method=>:get do
    #conversation_index
      .group
        #quick-search-bar
          =label_tag :phone, '联系电话'
          =text_field_tag :phone, params[:phone], :is_focus => true
          =hidden_field_tag :record_id, params[:record_id]
          =submit_tag '查询'
      .group
        -@list.each do |conversation|
          .conversation_info
            %p=truncate_with_more("事件#{@list.index(conversation)+1}:#{conversation.content}", 120, conversation.id)
            =link_to "关联此事件", new_event_path('event[conversation_id]' => conversation.id, :phone => params[:phone], :category => 'category_out', :record_id => params[:record_id]), :class => 'relate_btn'
            =render :partial => "conversations/events", :locals => {:conversation => conversation}
#sbar
  .proj-desc
    %p 往来记录指:回电,回访等记录
    %p 操作步骤如下:
    %ul#shared-ticket-bins.stacked.wbadges.sortable
      %li 
        %a 1.输入联系电话,查询
      %li
        %a 2.在结果中找出相关的事件记录
      %li 
        %a 3.点击"关联此事件",录入往来记录
