.nav 
  %span 你现在的位置：添加往来记录
  .search-panel
    -form_tag events_path, :method=>:get, :class=>"j-form" do
      =label_tag :phone, '联系电话'
      =text_field_tag :phone, params[:phone], :is_focus => true, :class => :nofixed
      =hidden_field_tag :record_id, params[:record_id]
      =submit_tag "", :id => :search, :class=> "icon-16px-box j-icon i-search nofixed nav-btn", :title => "查询"
.split
.j-panel
  .j-panel-head
    .j-panel-text 以往事件列表
  .j-panel-body
    .j-grid.grid-full
      %table
        %thead
          %tr
            %th{:width=>"150px"} 事件主题
            %th{:width=>"150px"} 事件分类
            %th{:width=>"300px"} 内容摘要
            %th{:width=>"100px"} 关联操作
        -@list.each do |conversation|
          %tbody
            %tr.j-grid-data-group.opend
              %td=conversation.title
              %td=conversation.kind.name
              %td{:title=>conversation.content}=truncate(conversation.content,:length => 30)
              %td=link_to "", new_event_path('event[conversation_id]' => conversation.id, :phone => params[:phone], :category => 'category_out', :record_id => params[:record_id]), :class => 'icon-16px-box j-icon i-create', :title => "关联"
            %tr
              %td{:colspan=>4}
                =render :partial => "conversations/events", :locals => {:conversation => conversation}
  .j-panel-foot
    .j-toolbar
