#mainbar
  .group
    =error_messages_for('event', 'person', 'duty')
    -form_for @event do |f|
      =f.hidden_field :wavfile
      =hidden_field_tag :phone
      =hidden_field_tag 'conversation[id]', @conversation.id
      =render :partial => "events/form", :locals => {:f => f, :event => @event}
#sbar
  .proj-desc
    %p="事件:#{truncate_with_more(@conversation.content, 100, @conversation.id)}"
    .proj-desc
      %p 往来记录
    #shared-bin-block.sblock.bin-block
      =render :partial => "conversations/events", :locals => {:conversation => @conversation}
    .proj-desc
      %p 处理过程
    #shared-bin-block.sblock.bin-block
      =render :partial => "conversations/histories", :locals => {:conversation => @conversation}
