#mainbar
  .group
    =error_messages_for :history
    -form_tag dispatches_path do 
      =hidden_field_tag 'id', params[:id]
      =render :partial => "events/workitem"
      %p.btns{:style=>"clear:left"}
        = submit_tag '提交', :disable_with => t('html.saving')
        = link_to '返回', :back
      =render :partial => "events/show"
#sbar
  .proj-desc
    %p 事件简介1
    %p
      %span=@event.name
      %span="#{@event.aim_enum}:"
      =truncate_with_more @event.content, 85, @event.id
