.group
  -form_tag dispatches_path do 
    =hidden_field_tag 'id', params[:id]
    =render :partial => "events/show"
    =render :partial => "events/workitem"

    %p.btns{:style=>"clear:left"}
      = submit_tag '保存', :disable_with => t('html.saving')
      = link_to '返回', :back

