%li#t-menu.mainmenu{:class=>select_menu(menu)}
  -link_to new_path(menu) do
    ="#{t_menu(menu)}管理"
    %em more
  %ul.submenu.wbadges{:style=>"display:none"}
    %li.bin.shared
      =link_to "新增#{t_menu(menu)}", new_path(menu)
    %li.bin.shared
      =link_to "查询#{t_menu(menu)}", index_path(menu)
