!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室
    =stylesheet_link_tag "core", "facebox", "default"
    =javascript_include_tag "prototype", "jquery", "facebox", "application" 

  %body
    #container
      #header.clear
        %ul#sec-nav
        #titles
          %h1
            %strong#account-name
              %a{:href=>"/"} LH
            %a.pname{:href=>"/"}
              %b 数字值班室
        #rheader
          #userbadge
            .ubody
              #ublinks
                =link_to "退出", logout_path
              %strong
                %a="欢迎您:#{current_user.login}"

      #content
        #main
          #project-nav
            %ul
              %li#t-proj{:class=>"#{select('home')}"}
                %a{:href=>"/"} 首页
              %li{:class=>"#{select('users')}"}
                =link_to '用户管理', new_user_path
              %li
                =link_to '新增来电', new_user_path
              %li
                =link_to '新增来访', new_user_path
              %li
                =link_to '新增来信', new_user_path
              %li
                =link_to '新增来函', new_user_path
          #action-nav
            %ul.clear
          -flash.each do |key, msg|
            =content_tag :div, msg, :id => "flash-#{key}"
          #main-content
            =yield
        #sbar
          #shared-bin-block.sblock.bin-block
            %h3 指标项
            %ul#shared-ticket-bins.stacked.wbadges.sortable
              %li.bin.shared
                %a{:href=>"/"}
                  %span.badge 60
                  未处理
              %li.bin.shared
                %a{:href=>"/"}
                  %span.badge 160
                  已处理
      #footer
        #footer-cnt
          %p 高正软件
    
