!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室
    =stylesheet_link_tag "/resources/css/portal", "facebox", "default"
    =javascript_include_tag "prototype", "jquery", "facebox", "/resources/jui/js/jui.js", "application" 
    -if !current_user.site.blank? && params[:record_id].nil?
      /
        =javascript_include_tag "http://#{CALL_CENTER}/interface/mixControl.php", "http://#{CALL_CENTER}/interface/panel.php?extension=#{current_user.site}"
    =calendar_date_select_includes "blue"

  %body
    #content-container
      =yield
