!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室
    =stylesheet_link_tag "/resources/css/portal", "default"
    =javascript_include_tag "prototype", "jquery", "/resources/jui/js/jui.js", "application" 
    =calendar_date_select_includes "blue"

  %body
    #content-container{:style => "overflow: hidden !important;width:99.5%;height:99.6%"}
      =yield
